html,body{
	font-family: 'Roboto', sans-serif;
}

.navbar-custom{
	    background-image: none;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(176,176,176,0.3);
    height: 70px;
}

#sip-calculator{
	margin-top: 75px;
}

.sip-calc-container>h2{
	font-weight: 300;
}

.box-shadow-all{
	box-shadow: 0px 0px 15px rgba(176,176,176,0.5);
}

.sip-details-holder{
	margin-top: 30px;
}

.nav-logo{
	margin-left: 20px;
}

.navbar-default .navbar-nav>li>a{
	margin-top: 8px;
	font-size: 16px;
	color: #0091EA;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #0091EA;
}

input[type=text]{
	border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    height: 35px;
    width: 90% !important;
    padding-left: 10px;
    
}

.input-helper{
	margin-bottom: 5px;
    font-size: 13px;
}

#inv-amount{
	width: 90%;
}

#go span{
	height: 20px;
	width: 20px;
}

#exp-ret-div{
	display: inline-block;
	width: 65%;
}

#exp-ret-div input[type=text]{
	width: 100%;
}

#exec-holder{
	height: 35px;
    width: 35px;
    text-align: center;
    background-color: #0091EA;
    justify-content: center;
    align-items: center;
    /* vertical-align: middle; */
    display: inline-flex;
}

#go>.material-icons{
	vertical-align: middle;
	color: white !important;
}

.user-row{
	padding: 25px 15px;
}

.info-header{
	font-size: 16px;
}

.padding-zero{
	padding: 0px;
}

.info-details{
	font-size: 16px;
	font-weight: 500;
}

#return-details{
	padding-bottom: 25px;
	border-bottom: 1px solid #e6e6e6;
}

.br{
	border-radius: 5px;
}

.border{
	height: 1px;
	background-color: #e6e6e6;
}

#projected-ret-holder{
	height: 350px;
    padding: 0px 0px;
}

.p-l-30{
	padding-left: 30px;
}

.pro-header{
	font-weight: 400;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 0px;
}


.table{
	margin-top: 10px;
}

.navbar-nav{
	margin-right: 10%;
}




.table>thead:first-child>tr:first-child>th,.table>tbody>tr>td{
	text-align: center;
}

.table>tbody>tr>td{
	padding: 14px;
	font-weight: 500;
	font-size: 15px;
}

.table>thead>tr>th{
	padding-top: 10px;
	padding-bottom: 10px;
}

.sip-ret-table{
	padding: 0px;
    border-left: 1px solid #e6e6e6;
}

.sip-ret-graph{
	padding: 0px;
	height: 350px;
}

#chart{
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.blue-text{
	color: #0091EA !important;
}

#return-amount{
	    text-align: center;
    margin-top: -145px;
    font-size: 18px;
}

.nav-logo{
	height: 36px;
}

.graph-info-header{
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 500;
}

.graph-info-detail{
	font-size: 13px;
}

.table>thead>tr>th{
	border-bottom: none;
}

#graph-det-info{
	position: absolute;
    bottom: 0px;
}

#wealth-gain-span,#amount-inv-span{
	width: 30px;
    display: inline-block;
    height: 2px;
    background: #0091EA;
}

#amount-inv-span{
	 background: #8ed4ff;
}

.table>tbody>tr>td,{
	border-top: none;
	border-bottom: 1px solid #e6e6e6;
}

.table>tbody>tr>td:child{
	border-bottom: none;
}

.active-row{
	background-color: #0091EA;
    color: white;
}

.seperation {
    height: 3px;
    background-color: #333;
    width: 70px;
}

.seperation ~ h2{
	font-weight: 300;
	margin-bottom: 50px;
}

a,a:hover{
	text-decoration: none;
	color: white;
}

a{
	color: white;
}

h1{
	font-weight: 300;
}

#article-container p{
	font-size: 18px;
    margin-bottom: 30px;
    line-height: 34px;
}

#article{
	margin-top: 50px;
}

#footer{
	background-color: #333333;
    color: #999999;
    padding: 30px 0px;
    margin-top: 30px;
}


.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid #0091EA;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader ~p {
	position: absolute;
    left: 45%;
    top: 54%;
    font-size: 18px;
    color: #0091EA;
    display: none;
}



@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){
	#projected-ret-holder{
		height: auto;
	}

	#graph-det-info{
		padding-left: 30px;
	}


}

@media(min-width: 500px) and (max-width: 767px){
	#projected-ret-holder{
		height: auto;
	}



	.navbar-default .navbar-nav>li>a{
		margin-left: 20px;
		padding-bottom: 20px;
	}

	input[type=text]{
		width: 100%;
	}

	#exp-ret-div{
		width: 85%;
	}

	#exec-holder{
		margin-right: 25px;
	}

	#exp-return{
		width: 80%;
	}

	#inv-amount {
	    width: 95% !important;
	}

	.info-header{
		font-size: 16px;
	}

	.info-details {
	    font-size: 16px;
	    font-weight: 500;
	    margin-bottom: 20px;
	}

	#graph-det-info {
	    position: absolute;
	    bottom: 0;
	    padding-left: 30px;
	}

	.sip-details-holder{
		margin-bottom: 20px;
	}


	#return-details{
		text-align: center;
	}

	.table thead tr th:nth-child(2),th:nth-child(3),th:nth-child(4),th:nth-child(6){
		display: none;
	}

	.table tbody tr td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(6){
		display: none;
	}

	.table>tbody>tr>td {
	    padding: 14px;
	    font-weight: 500;
	    font-size: 14px;
	}


	tbody tr td p:first-child{
		font-size: 14px;
	}

	#topic-heading{
		font-size: 24px;
	}


	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		height: 70px;
	}

	.navbar-toggle{
		border:none !important;
		margin-top: 15px;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background-color: white;
	}

	.navbar-nav {
	    margin: 7.5px -15px;
	    background-color: white;
	    box-shadow: 0px 5px 10px -5px rgba(176,176,176,0.2);
	}
}

@media(min-width: 350px) and (max-width: 500px){
	#projected-ret-holder{
		height: auto;
	}

	.navbar-default .navbar-nav>li>a{
		margin-left: 20px;
		padding-bottom: 20px;
	}

	input[type=text]{
		width: 100%;
	}

	#exp-ret-div{
		width: 75%;
	}

	#exec-holder{
		margin-right: 13px;
	}

	#exp-return{
		width: 80%;
	}

	#inv-amount {
	    width: 95% !important;
	}

	.info-header{
		font-size: 16px;
	}

	.info-details {
	    font-size: 16px;
	    font-weight: 500;
	    margin-bottom: 20px;
	}

	.pro-header{
		margin-bottom: 0px;
	}


	#graph-det-info {
	    position: absolute;
	    bottom: 0;
	    padding-left: 30px;
	}

	.sip-details-holder{
		margin-bottom: 20px;
	}

	#return-details{
		text-align: center;
	}

	.table{
		margin-top: 20px;
	}

	.table thead tr th:nth-child(2),th:nth-child(3),th:nth-child(4),th:nth-child(6){
		display: none;
	}

	.table tbody tr td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(6){
		display: none;
	}

	.table>tbody>tr>td {
	    padding: 14px;
	    font-weight: 500;
	    font-size: 14px;
	}


	tbody tr td p:first-child{
		font-size: 14px;
	}

	#topic-heading{
		font-size: 24px;
	}


	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		height: 70px;
	}

	.navbar-toggle{
		border:none !important;
		margin-top: 15px;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background-color: white;
	}

	.navbar-nav {
	    margin: 7.5px -15px;
	    background-color: white;
	    box-shadow: 0px 5px 10px -5px rgba(176,176,176,0.2);
	}
}

@media(min-width: 300px) and (max-width: 350px){
	#projected-ret-holder{
		height: auto;
	}

	.navbar-default .navbar-nav>li>a{
		margin-left: 20px;
		padding-bottom: 20px;
	}

	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		height: 70px;
	}

	input[type=text]{
		width: 100%;
	}

	#exp-ret-div{
		width: 75%;
	}

	#exec-holder{
		margin-right: 13px;
	}

	#exp-return{
		width: 80%;
	}

	#inv-amount {
	    width: 95% !important;
	}

	.info-header{
		font-size: 16px;
	}

	.info-details {
	    font-size: 16px;
	    font-weight: 500;
	    margin-bottom: 20px;
	}

	.pro-header{
		margin-bottom: 0px;
	}


	#graph-det-info {
	    position: absolute;
	    bottom: 0;
	    padding-left: 30px;
	}

	.sip-details-holder{
		margin-bottom: 20px;
	}

	#return-details{
		text-align: center;
	}

	.table{
		margin-top: 20px;
	}

	.table thead tr th:nth-child(2),th:nth-child(3),th:nth-child(4),th:nth-child(6){
		display: none;
	}

	.table tbody tr td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(6){
		display: none;
	}

	.table>tbody>tr>td {
	    padding: 14px;
	    font-weight: 500;
	    font-size: 14px;
	}


	tbody tr td p:first-child{
		font-size: 14px;
	}

	#topic-heading{
		font-size: 24px;
	}

	.navbar-toggle{
		border:none !important;
		margin-top: 15px;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background-color: white;
	}

	.navbar-nav {
	    margin: 7.5px -15px;
	    background-color: white;
	    box-shadow: 0px 5px 10px -5px rgba(176,176,176,0.2);
	}
}

