#heading{
	margin-top: 100px;
}

#topic-heading{
	font-weight: 300;
}

.sub-info{
	font-size: 15px;
}

.color-heading{
	margin-bottom: 0px;
    font-size: 20px;
    padding: 10px 0px;
    background-color: #EBEBEB;
    border-left: 8px solid #757575;
    padding-left: 30px;
}


tbody tr td p:first-child, thead tr th p:first-child{
	margin-bottom: 0px;
}

tbody tr td p:first-child{
	text-align: left;
	font-size: 18px;
	font-weight: 400;
}

tbody tr td{
	font-weight: 400 !important;
}

thead tr th p:first-child{
	text-align: left;
	margin-left: 30px;
}

thead tr th{
	font-size: 18px;
	font-weight: 500;
}

.table>tbody>tr>td {
    padding: 14px;
    font-weight: 500;
    font-size: 18px;
}


tbody tr td p:first-child{
	font-size: 18px;
}


.table>thead:first-child>tr:first-child>th{
	padding: 20px 0px;
}

.table-wrapper{
	border: 1px solid #e6e6e6;
    border-radius: 7px;
    margin-top: 30px;
}

.table>tbody>tr>td{
	padding: 20px !important; 
}

.rating-holder .material-icons{
	font-size: 20px !important;
	width: 11%; 
}

.rating-holder{
	width: 100%;
	text-align: center !important;
}

tbody tr td:nth-child(2){
	width: 20%;
}

.no-star{
	color: #EBEBEB !important;
}

.star{
	color: #FFD91C !important;
}

.fund-class-section{
	margin: 50px auto;
}

.table-wrapper{
	overflow-x: scroll;
}

